<template>
    <v-container>
      <v-row
        justify="center"
        content="center"
      >

        <v-col
          cols="12"
          md="8"
        >
          <v-card>
            <v-card-title>
              <h2>Create New Thread</h2>
            </v-card-title>
            <v-card-text>
                <v-form>
                  <v-text-field
                      label="Title"
                      name="title"
                      type="text"
                  ></v-text-field>
                  <v-textarea

                      name="content"
                      label="Content"
                      value=""
                  ></v-textarea>
                  <v-select
                      label="Channels"
                  ></v-select>
                </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn
                  ripple
                  color="pink"
                  dark
                  large
              >
                Submit
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
</template>

<script>
export default {
name: "CreateThread"
}
</script>

<style scoped>

</style>