<template>
  <v-container>
    <v-row
        justify="center"
        content="center"
    >
      <v-col
          cols="12"
          md="8"
      >
        <v-card
            outlined
        >
          <v-card-title>
            <h2>Laravel Error</h2>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <p>Somayeh Mahjoob</p>
              </v-col>
              <v-col align="right">
                2020/10/20
              </v-col>
            </v-row>

            <vue-markdown>
              # Test MarkDown
              [Google](https://google.com)
              :)
            </vue-markdown>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
          cols="12"
          md="8"
      >
        <v-row>
          <v-col>
            <h2>Replies: </h2>
          </v-col>
          <v-col

          >
            <v-btn
                depressed
                ripple
                color="success"
                dark
                to="#"
                class="float-right"
            >
              <v-icon left>
                mdi-reply
              </v-icon>
              Reply
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
     <v-row
         justify="center"
         content="center"
     >
       <v-col
           cols="12"
           md="8"
       >
         <v-card
             outlined
         >
           <v-card-title>
             <v-avatar
                 color="teal"
                 size="62"
                 class="mr-3"
             >
               S.M
             </v-avatar>
             <v-row
                class="ml-2"
             >
               <div>
                 <div class="font-weight-small">
                   Somi Joon
                 </div>

                 <div
                     class="grey--text font-weight-medium"
                 >
                   <p
                      class="subtitle-2"
                   >2020/10/15 12:30:15</p>
                 </div>
               </div>
             </v-row>
           </v-card-title>
           <v-card-text>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate, doloremque error excepturi hic, id illum incidunt ipsum labore mollitia provident quia veniam voluptatem. Illum!</p>
           </v-card-text>
         </v-card>
       </v-col>
     </v-row>
    </v-row>



  </v-container>
</template>

<script>
import VueMarkdown from 'vue-markdown/src/VueMarkdown'

export default {
  name: "SingleThread",
  components: {
    VueMarkdown
  }
}
</script>

<style scoped>

</style>